<?xml version="1.0"?>
<model>
  <name>Plastic bottle</name> <!-- Replace with your model's name -->
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf> <!-- SDF format version and filename -->

  <author>
    <name>Navid Zarrabi</name>
    <email>navid.zarrabi@torontomu.ca</email>
  </author>

  <description>
    A brief description of your model.
  </description>
</model>
