<?xml version="1.0"?>
<model>
  <name>Microplastics</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Navid Zarrabi</name>
    <email>navid.zarrabi@torontomu.ca</email>
  </author>
  
  <description>
    A red sphere with buoyancy and drag physics for underwater simulation.
    Includes custom hydrodynamic plugin for current interaction.
  </description>
</model>